/*you can call on any tag, id, or class name to change properties in CSS*/
/*CSS is almost endless - so if you are curious if you can change something, google it!*/

/*every tag starts with:*/
/*elementName/ID/Class{*/
/*    propertyName: what you are changing to; <-- this semi colon is IMPORTANT!*/
/*}*/

body{
    background-color: #ebebeb;
    font-family: 'Courier New', Courier, monospace;
    /*you could add more properties to change right in here, no need to call body again.*/
}

h1 {
    /* font-family: "Geostar Fill", cursive; */
    font-family: "Source Serif Pro", serif;
    font-size: 45px;
}

.pointer {
    cursor: pointer;
}

.border {
    border: 2px solid black;
    background-color: white;
}

.border:hover {
    background-color: lightgray;
}

.disp {
    display: flex;
}

.decor {
    text-decoration: underline;
    color: black;
}

#bio {
    width: 50%;
    padding-left: 5px;
}

#foods {
    width: 50%;
    /* text-align: right; */
}

#specialSkills {
    padding-left: 5px;
}